# merge()
- right - The other data frame to join on
- left_on - The column in the left data frame to join on
- right_on - The column in the right data frame to join on
- how (optional) - "inner" (use keys from both) or "left" (use keys only from left) or "right" (use keys only from right) or "cross" (cartesian product) or "outer" (use union of keys from both). Defaults to "inner"

In [2]:
import pandas as pd
foods = pd.read_csv("data/restaurant_foods.csv")
foods.head()

   Food ID   Food Item  Price
0        1       Sushi   3.99
1        2     Burrito   9.99
2        3        Taco   2.99
3        4  Quesadilla   4.25
4        5       Pizza   2.49

In [3]:
customers = pd.read_csv("data/restaurant_customers.csv")
customers.head()

   ID First Name Last Name  Gender  Company                     Occupation
0   1     Joseph   Perkins    Male  Dynazzy  Community Outreach Specialist
1   2   Jennifer   Alvarez  Female     DabZ        Senior Quality Engineer
2   3      Roger     Black    Male  Tagfeed              Account Executive
3   4     Steven     Evans    Male     Fatz               Registered Nurse
4   5       Judy  Morrison  Female  Demivee                Legal Assistant

In [4]:
week1_orders = pd.read_csv("data/restaurant_week_1_sales.csv")
week1_orders.head()

   Customer ID  Food ID
0          537        9
1           97        4
2          658        1
3          202        2
4          155        9

In [5]:
week2_orders = pd.read_csv("data/restaurant_week_2_sales.csv")
week2_orders.head()

   Customer ID  Food ID
0          688       10
1          813        7
2          495       10
3          189        5
4          267        3

In [14]:
week1_sales = foods.merge(right=week1_orders, left_on="Food ID", right_on="Food ID")
week2_sales = foods.merge(right=week2_orders, left_on="Food ID", right_on="Food ID")
total_sales = pd.concat([week1_sales, week2_orders])

round(total_sales["Price"].sum(), 2)

1962.68